*{
    margin: 0;
    padding: 0;
}
#count{
    font-size: 60px;
    color: white;
    margin-bottom: 30px;
}
.btns{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
button{
    width: 100px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid black;
    background-color: darkslateblue;
    color: white;
    outline: none;
    cursor: pointer;
}
.container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 500px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.3);
}